POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app

# config.settings.dev | config.settings.prod
DJANGO_SETTINGS_MODULE=config.settings.dev

# 2FA
TWO_FA_ENCRYPTION_KEY=
TWO_FA_ISSUER_NAME=Managora

# S3
USE_S3_MEDIA_STORAGE=0
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_QUERYSTRING_EXPIRE=300