POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app

# config.settings.dev | config.settings.prod
DJANGO_SETTINGS_MODULE=config.settings.dev

# 2FA
TWO_FA_ENCRYPTION_KEY=
TWO_FA_ISSUER_NAME=Managora

# Attendance OTP
# Use console in development to avoid hard dependency on SMTP.
ATTENDANCE_OTP_MODE=email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=creativitycode78@gmail.com
EMAIL_HOST_PASSWORD=iknyxaxheoijgvhf
DEFAULT_FROM_EMAIL=creativitycode78@gmail.com
ATTENDANCE_OTP_SENDER_EMAIL=${EMAIL_HOST_USER}
ATTENDANCE_OTP_APP_PASSWORD=${EMAIL_HOST_PASSWORD}
ATTENDANCE_OTP_SMTP_HOST=smtp.gmail.com
ATTENDANCE_OTP_SMTP_PORT=587

# S3
USE_S3_MEDIA_STORAGE=0
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_QUERYSTRING_EXPIRE=300